.specialty {
  background: linear-gradient(to right, rgba(32, 27, 41, 0), rgba(29, 25, 32));
  border-radius: 10px;
}
.specialty > h3 {
  color: #1be2d6;
}
.specialty > p {
  color: #ffffff;
}

.specialty > div > img {
  margin-left: 20px;
}
@media screen and (max-width: 770px) {
  #about-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .specialty > div > img {
  display: flex;
  align-items: center
  }
}

