<div class="container-fluid d-flex justify-content-center pt-2" style="position: relative;background-color:#1B2029">
    <div class="footer-icons">
        <div class="d-flex  justify-content-between mb-3">
            <img src="../../../assets/images/github.svg" alt="github" width="20px">
            <img src="../../../assets/images/linkedin.svg" alt="github" width="20px">
            <img src="../../../assets/images/twitter.svg" alt="github" width="20px">
        </div>
        <div style="text-align:center; color:white">
            <small><i>Copyright Ken Mbira | 2021</i></small>
        </div>
        <div style="position:absolute;top:1px;right: 2vmin;">
            <a href="#" style="color:#E21B6D;text-decoration:none">Back to top</a>
        </div>
    </div>
</div>