<ul class="nav justify-content-around align-items-center" style="height:50px">
    <li class="nav-item">
        <a class="nav-link" href="#landing">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">SKILLS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PROJECTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
    </li>
</ul>