<ul class="nav justify-content-around align-items-center" style="height:fit-content">
    <li class="nav-item">
        <a class="nav-link page-nav" href="#landing">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link page-nav" href="#about">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link page-nav" href="#skillset">SKILLS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link page-nav" href="#projects">PROJECTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link page-nav" href="#contact">CONTACT</a>
    </li>
</ul>