.landing-background {
    position: absolute;
    height: 100vh;
    right: 15vw;
    z-index: -1;
    filter: brightness(30%)
}

@media only screen and (max-width: 600px) {
    .landing-background {
        right: 0;
    }
}

.explore-btn:hover {
    background-color: #E21B6D;
    border-color: #E21B6D;
    color: #ffffff;
}

.explore-btn:hover .landing-arrow {
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

.explore-btn::after .landing-arrow {
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

.floating-icons {
    position: absolute;
}

.floating-icons>img {
    width: 20px;
}

#icon-1 {
    top: 10vh;
    left: 30vw;
}

#icon-2 {
    top: 30vh;
    left: 10vw;
}

#icon-3 {
    top: 50vh;
    left: 80vw;
}

#icon-4 {
    top: 20vh;
    left: 90vw;
}

#icon-5 {
    top: 90vh;
    left: 50vw;
}

#icon-6 {
    top: 60vh;
    left: 40vw;
}

#icon-7 {
    top: 50vh;
    left: 10vw;
}